ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

strong {
    font-size: 50px;
    line-height: 1;
}
h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    padding-bottom: 20px;
}

.container {
    border: 1px solid #9ea4a9;
    padding: 20px;
    margin: 20px auto 0 auto;
    max-width: 600px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 1px rgba(67, 67, 72, 0.1);
    background-color: rgb(254, 244, 243);
}
.degrees {
position: relative;
right: -32px;    
}

.footer {
    text-align: center;
    font-size: smaller;
   
}

#tempDegrees {
    text-align: center;
}

#sky {
    text-transform: capitalize;
}